.container {
    display:grid; grid-template-columns: repeat(4, 1fr); position:relative; top:-420px; right:400px; background-image: 'url(http://cdn.shopify.com/s/files/1/0488/3932/7895/products/picachu-metal-wp.jpg?v=1608225454)'

}


.pokemons:hover {

        $cubic: cubic-bezier(0.30, 0.30, 0.30, 0.30);
        $transition: 0.6s $cubic;
        $size: 40px; 
        position: fixed;
        z-index: 10;
        bottom: 30px;
        right: 10px;
     
     
}
